[all:vars]

# Namespace where to deploy performance add on operator
performance_namespace=openshift-performance-addon
# Channel for 
performance_channel: 4.4
# Machine config pool
mcp: worker-cnf

[provisioner]
provisioner.voila.wilibonka.com

[nodes]
worker-0.voila.wilibonka.com role=worker-cnf
